<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% vouchers.forEach((voucher,i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= voucher.name %></td>
      <td><%= voucher.status %></td>
      <td><%= voucher.thumbnail %></td>
      <td>
        <form
          action="/voucher/destroy/<%= voucher.id %>?_method=DELETE"
          method="post"
        >
          <a
            href="/voucher/edit/<%= voucher.id %>"
            class="btn btn-warning btn-sm"
          >
            <i class="fas fa-pencil-alt"></i>
            Ubah</a
          >
          <button type="submit" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i> Hapus
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
